
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# Data and results
*.h5
*.csv
*.tsv
*.xlsx
*.pkl
*.npy
*.npz

# System files
.DS_Store
Thumbs.db
